@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	/* background-color: rgb(99, 99, 99); */
	@apply bg-gray-800;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
th,
td,
span,
label,
p {
	color: white;
}

/* input,
select,
textarea {
	color: black;
} */

span {
	display: inline-block; /* or block */
}

*:focus {
	outline: none;
}

/* Tooltip Usage:
	- apply 'tooltip' class to parent element
	- apply 'tooltiptext' class to child element
	- you can adjust with from child element
*/

/* Tooltip container */
.tooltip {
	position: relative;
	display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
	visibility: hidden;
	background-color: black;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;

	position: absolute;
	z-index: 1;
	bottom: 100%;
	left: 50%;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}

.tooltip .tooltiptext::after {
	content: ' ';
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: black transparent transparent transparent;
}

a {
	@apply text-blue-400 underline;
}
